body {
    margin-block-start: 0;
    margin-block-end: 0;

    margin: 0 auto;
    padding: 0;
    width: 100%;

    min-height: 100vh;
    display: block;
    position: relative;
    padding-bottom: 45px;
    box-sizing: border-box;

    overflow: overlay;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 14px 14px transparent;
    border: solid 4px transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 14px 14px #6b6b6b;
    border: solid 4px transparent;
    border-radius: 14px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 14px 14px #3a3a3a;
}

.kurt_header {
    background-image: url(../Kurt/Kurt_Background.png);
    background-size: cover;
    padding: 16px;
}

.kurt_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;

    background-image: url(../Kurt/Kurt_Background.png);
    background-size: cover;
    font-size: .8em;
    padding: 0 8vw;
}

.kurt_nav {
    margin-block-start: 0;
    margin-block-end: 0;
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    list-style: none;
    flex: 1 0 0%;

    height: 48px;
}

.kurt_nav a {
    font-family:'Roboto', 'Arial';
    font-weight: 300;
    font-size: 24px;
}

.kurt_footer a {
    font-family:'Roboto', 'Arial';
    font-weight: 300;
    font-size: 16px;
}

.kurt_logo {
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
    height: 48px;
    max-width: 100%;
}

.basket_logo {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-right: 1em;
    height: 32px;
    max-width:100%;
}

.vgap {
    display: none;
}

ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

nav {
    margin-block-start: 0;
    margin-block-end: 0; 

    display: flex;
    text-align: center;
}

nav ul { /*entire list settings*/
    margin-block-start: 0;
    margin-block-end: 0;

    padding: 0;
    list-style: none;
    display: flex;
    flex: 1 0 0%;
    justify-content: space-between;
    font-family:'Helvetica', 'Arial';
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;

    background-image: url(../assets/Background.png);
    background-size: cover;
    font-size: .8em;
    padding: 0 8vw;
}

footer ul { /*entire list settings*/
    font-family:'Helvetica', 'Arial';
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 12px 0;
    list-style: none;
    font-weight: bold;
}

nav ul li { /*each list element*/
    margin-block-start: 0;
    margin-block-end: 0;
    
    display: inline-block;
    font-size: 24px;
    padding: 5px 0px;
    color: #4d4d4d;
}

footer ul li { /*each list element*/
    display: inline;
    font-size: 24px;
    padding: 0 10px;
    color: #4d4d4d;
}


hr { /*horizontal line*/
    margin-block-start: 0;
    margin-block-end: 0;
    margin-right: 0px;
    margin-left: 0px;
    height: 4px;
    border-width: 0;
    color: #4d4d4d;
    background-color: #4d4d4d;
}

a {
    font-family:'Helvetica', 'Arial';
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    color: #4d4d4d;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.text-box {
    display: inline-block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 0 120px 1em;

    font-size: 24px;
    font-weight: 300;
}

.white {
    color: white;
}

li {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-family:'Helvetica', 'Arial';
    font-size: 24px;
    line-height: 24px;
    color: #4d4d4d;
}

.text-box b {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 0 0 1em;
    font-weight: 700;
    display: inline-block;
    width: 100%;
}

.image-box {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 0 0 1em;
    font-weight: 300;
    display: inline-block;
    width: 100%;
}

.left-picture {
    margin-right: 2em;
    float: left;
    width: 35%;
}

.right-picture {
    margin-left: 2em;
    float: right;
    width: 35%;
}

.full-width {
    position: static;
    left: 0;
    object-fit: cover;
    width: 100vw;
    height: 16em;
}

.center-picture {
    display: block;
    width: 25%;
    height: auto;
    margin: 0 auto;
}

.twenty-per {
    width: 20%;
}

.twenty-five-per {
    width: 25%;
}

.thirty-per {
    width: 30%;
}

.forty-per {
    width: 45%;
}

.sixty-per {
    width: 60%;
}

.eighty-per {
    width: 80%;
}

a p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-family:'Helvetica', 'Arial';
    font-size: 24px;
    line-height: 24px;
    color: #4d4d4d;
}

h1 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 0;
    font-size: 3em;
    font-family:'Helvetica', 'Arial';
}

h2 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 0;
    font-size: 32px;
    font-family:'Helvetica', 'Arial';
}

p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-family:'Helvetica', 'Arial';
    font-size: 24px;
    line-height: 24px;
    color: #4d4d4d;
}

b {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-family:'Helvetica', 'Arial';
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #4d4d4d; 
}

main {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 0;
    padding: 0;
}


.text-box:first-child {
    margin-top: 1em;
}

.multiple-pictures:first-child {
    margin-top: 1em;
}

.portfolio-full-width {
    width: 100vw;
    max-width: initial;
    margin: 0 calc(50% - 50vw);
    object-fit: cover;
}

.multiple-pictures {
    padding: 0 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.pcbs {
    margin: 2em 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

.pcb_side {
    width: 30vw;
    margin-right: 20px;
}

.pcb_container {
    position: relative;
    width: 100%;
    max-width: 30vw;
}
  
  /* Make the image to responsive */
.image {
    width: 100%;
    height: auto;
}
  
  /* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.7s ease;
}

.overlay_2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.7s ease;
}

.tech_table {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 0 120px 1em;
}

.tech_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.tech_row_header {
    width: 360px;
}

.tech_row_entry {
    margin-top: 8px;
}

.tech_row_entry p {
    line-height: 30px;
    margin-bottom: 8px;
}

.tech_row_hr {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 24px 0;
    height: 0.5px;
    border-width: 0;
    background-color: #888888;
}

.labels {
    width: 30vw;
}
  
.icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

@media (max-width: 1100px) {
    .pcbs {
        display: flex;
        flex-flow: column nowrap;
    }
    .pcb_side {
        width: auto;
    }
    .pcb_container {
        max-width: 80vw;
        margin-bottom: 1em;
    }
    .labels {
        width: 80vw;
    }
}

@media (max-width: 500px) {
    .multiple-pictures {
        flex-direction: column;
    }
    .center-picture {
        width: 100%;
    }
}
.showcase-desktop {
    display: block;
}
.showcase-mobile {
    display: none;
}
@media (max-width: 550px) {
    .showcase-desktop {
        display: none;
    }
    .showcase-mobile {
        display: block;
    }
}
@media (max-width: 900px) {
    .kurt_nav {
        flex-direction: column;
        height: auto;
    }
    .basket_logo {
        height: 24px;
        margin-right: 0;
    }
    .vgap {
        display: inline-block;
    }
    .hgap {
        display: none;
    }
    .text-box {
        margin: 0 2em 1em;
        font-size: 14px;

    }
    .tech_row {
        flex-direction: column;
    }
    .tech_table {
        margin: 0 2em 1em;
    }
}