body {
    margin: 0 auto;
    padding: 0;
    width: 100%;

    min-height: 100vh;
    display: block;
    position: relative;
    padding-bottom: 49px;
    box-sizing: border-box;
}

.kurt_header {
    background-image: url(../Kurt/Kurt_Background.png);
    background-size: cover;
    padding: 16px;
}

.kurt_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;

    background-image: url(../Kurt/Kurt_Background.png);
    background-size: cover;
    font-size: .8em;
    padding: 0 8vw;
}

.kurt_nav {
    margin-block-start: 0;
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    list-style: none;
    flex: 1 0 0%;

    height: 48px;
}

.kurt_nav a {
    font-family:'Roboto', 'Arial';
    font-weight: 300;
    font-size: 20px;
}

.kurt_footer a {
    font-family:'Roboto', 'Arial';
    font-weight: 300;
    font-size: 16px;
}

.logo_height {
    margin-block-start: 0;
    padding: 0;
    height: 48px;
}

.kurt_logo {
    height: 48px;
    max-width:100%;
}

.basket_logo {
    height: 32px;
    max-width:100%;
}

.vgap {
    display: none;
}

@media (max-width: 900px) {
    .kurt_nav {
        flex-direction: column;
        height: auto;
    }
    .basket_logo {
        height: 24px;
    }
    .vgap {
        display: inline-block;
    }
    .hgap {
        display: none;
    }
}

ul {
    padding-inline-start: 0;
    margin-block-start: 10px;
    margin-block-end: 0;
}

nav {
    display: flex;
    text-align: center;
}

nav ul { /*entire list settings*/
    padding: 0;
    list-style: none;
    display: flex;
    flex: 1 0 0%;
    justify-content: space-between;
    font-family:'Helvetica', 'Arial';
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;

    background-image: url(../assets/Background.png);
    background-size: cover;
    font-size: .8em;
    padding: 0 8vw;
}

footer ul { /*entire list settings*/
    font-family:'Helvetica', 'Arial';
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 12px 0;
    list-style: none;
    font-weight: bold;
}

nav ul li { /*each list element*/
    display: inline-block;
    font-size: 1.25em;
    padding: 5px 0px;
    color: #4d4d4d;
}

footer ul li { /*each list element*/
    display: inline;
    font-size: 1.25em;
    padding: 0 10px;
    color: #4d4d4d;
}


hr { /*horizontal line*/
    margin-block-start: 0;
    margin-block-end: 0;
    margin-right: 0px;
    margin-left: 0px;
    height: 4px;
    border-width: 0;
    color: #4d4d4d;
    background-color: #4d4d4d;
}

a {
    font-family:'Helvetica', 'Arial';
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    color: #4d4d4d;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.text-box {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 0 0 1em;
    font-weight: 300;
    display: inline-block;
    width: 100%;
}

.text-box b {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 0 0 1em;
    font-weight: 500;
    display: inline-block;
    width: 100%;
}

.image-box {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 0 0 1em;
    font-weight: 300;
    display: inline-block;
    width: 100%;
}

.left-picture {
    margin-right: 2em;
    float: left;
    width: 35%;
}

.right-picture {
    margin-left: 2em;
    float: right;
    width: 35%;
}

.full-width {
    position: static;
    left: 0;
    object-fit: cover;
    width: 100vw;
    height: 16em;
}

.center-picture {
    display: block;
    width: 25%;
    height: auto;
    margin: 0 auto;
}

.twenty-per {
    width: 20%;
}

.twenty-five-per {
    width: 25%;
}

.thirty-per {
    width: 30%;
}

.forty-per {
    width: 45%;
}

.sixty-per {
    width: 60%;
}

.eighty-per {
    width: 80%;
}

a p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-family:'Helvetica', 'Arial';
    font-size: 1.25em;
    line-height: 1.25em;
    color: #4d4d4d;
}

h1 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 10px 0;
    font-size: 3em;
    font-family:'Helvetica', 'Arial';
}

h2 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 10px 0;
    font-size: 2em;
    font-family:'Helvetica', 'Arial';
}

p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-family:'Helvetica', 'Arial';
    font-size: 1.25em;
    line-height: 1.25em;
    color: #4d4d4d;
}

main {
    margin: 0 8vw;
    padding: 0;
}


.text-box:first-child {
    margin-top: 1em;
}

.multiple-pictures:first-child {
    margin-top: 1em;
}

.portfolio-full-width {
    width: 100vw;
    max-width: initial;
    margin: 0 calc(50% - 50vw);
    object-fit: cover;
}

.multiple-pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}